@import '../../../theme/variables';

.title {
	text-align: center;
}

.Popular {
	color: $color-white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-left: 0;

	.avatar {
		width: 100px;
		border-radius: 10%;
	}

	.space_list_items {
		margin-bottom: 7px;
		padding-left: 0;
	}

	li {
		list-style: none;
	}

	.popular_item {
		margin: 20px;
		text-align: center;
	}

	.popular_rank {
		font-size: 20px;
		margin: 10px;
	}
}
