@import '../../../theme/variables';

body {
	background-color: $color-dark-gray;
	font-family: 'Helvetica-Light', Helvetica, Arial, sans-serif;
}

.App {
	color: $color-white;

	.header {
		overflow: auto;
		padding: 15px;
		display: flex;
		justify-content: space-around;
		align-items: center;

		img {
			float: left;
			height: 70px;
			margin-right: 1em;
		}

		h4 {
			text-decoration: none;
		}
	}

	hr {
		margin-bottom: 0;
		margin-top: 0;
		opacity: 0.15;
	}
}
