@import '../../theme/variables.scss';

ul {
	padding-left: 0;
}

.SubComponent {
	display: flex;
	justify-content: center;
	list-style: none;

	li {
		margin: 10px;
		font-weight: bold;
		cursor: pointer;
	}
}

.RepoGrid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;

	.RepoItem {
		margin: 20px;
		text-align: center;
	}

	.popular_rank {
		font-size: 20px;
		margin: 10px;
	}

	.space_list_items {
		list-style: none;
	}

	.avatar {
		border-radius: 10px;
		width: 60px;
	}
}
