@import '../../../theme/variables';

.Loading {
	div {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.6);

		p {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 35px;
			color: #fff;
		}
	}
}
